/* Majority of table styling courtesy of Dom(Dcode) at https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l */
table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0, 0.15);
}

thead tr {
    background-color: #3248B3;
    color: #ffffff;
    text-align: left;
}

th, td {
    padding: 12px 15px;
    text-align: center;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #3248B3;
}

tbody tr.active-row {
    font-weight: bold;
    color: #3248B3;
}

.strikeThrough {
    text-decoration: line-through;
}

html, body {
    font-family: 'Fira Sans Condensed';
    margin: 0px;
    padding: 0px;
}

header h1 {
    text-align: center;
    text-decoration: underline;
    margin-top: 0.1em;
}

.body-container {
    width: 60%;
    display: block;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 30px;
    background-color: white;
    padding: 1em;

}

/* Background gradient configured using cssgradient.io */
body {
    background: rgb(59,55,116);
    background: linear-gradient(90deg, rgba(59,55,116,1) 9%, rgba(0,212,255,1) 88%);
}

.input-and-button {
    text-align: center;
}

.fifty {
    width: 50%;
}

.thirty {
    width: 30%;
}

.twenty {
    width: 20%;
}